#root {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.triplecol {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 1em;
}
