.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: min(600px, 80%);
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow-y: auto;
  max-height: 80%;

  ol {
    text-align: left;
    text-justify: inter-word;
  }
}

.termsModal {
  aspect-ratio: 1 / 1;
  overflow-y: scroll;
}

@media (max-width: 1024px) {
  .termsModal {
    aspect-ratio: unset;
  }
}
