.header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  margin: 0;
  padding: 1.5em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  background: none;
  padding: 0;
  margin: 0.2em;
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 1em;
  }
  .headerLogo {
    font-size: 1.5em;
  }
}
