.outer {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 0.5em;
}

.inner {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 2em;
}

@media (max-width: 1024px) {
  .inner {
    flex-direction: column-reverse;
  }
}
